*,
::before,
::after {
  margin: 0;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.header {
  width: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header__img {
  margin: 20px 20px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.navigation__list {
  display: none;
}

.navigation__list-item {
  list-style: none;
  text-align: center;
  margin: 10px;
}

.navigation__list-anchor {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-size: 1.5rem;
  font-weight: 500;
}

.navigation__list--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navigation__hamburger {
  display: block;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px 20px;
  cursor: pointer;
  padding: 5px;
}

.navigation__hamburger-box {
  width: 40px;
  height: 40px;
  display: inline-block;
  position: relative;
}

.navigation__hamburger-box-inner {
  width: 100%;
  height: 4px;
  background-color: black;
  position: absolute;
  left: 0;
  top: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: background-color .2s .1s ease-in-out;
  transition: background-color .2s .1s ease-in-out;
}

.hamburger--active .navigation__hamburger-box-inner {
  background-color: transparent;
}

.navigation__hamburger-box-inner::before, .navigation__hamburger-box-inner::after {
  width: 100%;
  height: 4px;
  background-color: black;
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  left: 0;
  -webkit-transition: -webkit-transform .2s .2s ease-in-out;
  transition: -webkit-transform .2s .2s ease-in-out;
  transition: transform .2s .2s ease-in-out;
  transition: transform .2s .2s ease-in-out, -webkit-transform .2s .2s ease-in-out;
}

.navigation__hamburger-box-inner::before {
  top: 12px;
}

.hamburger--active .navigation__hamburger-box-inner::before {
  -webkit-transform: translateY(-12px) rotate(-45deg);
          transform: translateY(-12px) rotate(-45deg);
}

.navigation__hamburger-box-inner::after {
  top: -12px;
}

.hamburger--active .navigation__hamburger-box-inner::after {
  -webkit-transform: translateY(12px) rotate(45deg);
          transform: translateY(12px) rotate(45deg);
}

.solution {
  height: 80vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img/home-bg.png") no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/home-bg.png") no-repeat;
  background-size: cover;
  position: relative;
  background-position: 30% 30%;
  color: white;
  text-align: center;
  padding: 40% 0;
}

.solution__h1 {
  color: white;
  font-size: 35px;
  text-transform: uppercase;
}

.solution__paragrap {
  margin: 40px 0;
  padding: 0 20px;
}

.solution__button {
  font-size: 20px;
  border: none;
  background-color: #7cc576;
  color: white;
  padding: 15px 25px;
  border-radius: 50px;
  text-shadow: 1px 1px 3px black;
  text-transform: uppercase;
  margin: 30px 0;
}

.professional {
  margin: 0 auto;
  padding: 30px 8%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.professional__h2 {
  font-size: 30px;
  text-transform: uppercase;
  margin: 20px 0;
}

.professional__paragrap {
  color: gray;
}

.professional__container {
  margin: 30px 0;
}

.professional__container-ico {
  font-size: 65px;
  margin: 30px;
}

.professional__container-headings {
  text-transform: uppercase;
  font-size: 20px;
  margin: 10px 0;
}

.professional__container-paragrap {
  color: gray;
}

.relax {
  padding: 20px 30px;
  height: 80vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.5))), url("../img/cliff.png") no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url("../img/cliff.png") no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}

.relax__gear {
  display: none;
  background-color: gray;
}

.just-relax {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.just-relax__h2 {
  font-size: 30px;
  text-transform: uppercase;
  margin: 20px 0;
}

.just-relax__span {
  color: #7cc576;
}

.just-relax__paragraf {
  margin: 20px 0;
}

.just-relax__list {
  list-style: none;
}

.just-relax__list-item {
  margin: 10px 0;
  font-size: 20px;
}

.just-relax__button {
  font-size: 20px;
  border: none;
  background-color: #7cc576;
  color: white;
  padding: 15px 25px;
  border-radius: 50px;
  text-shadow: 1px 1px 3px black;
  text-transform: uppercase;
  margin: 30px 0;
}

.project {
  margin: 0 auto;
  padding: 30px 8%;
}

.project__h2 {
  font-size: 30px;
  text-transform: uppercase;
  margin: 20px 0;
}

.project__paragrap {
  color: gray;
  margin-bottom: 30px;
}

.wrapper__h3 {
  font-size: 25px;
  margin: 10px 0;
}

.wrapper__paragrap {
  margin: 10px 0;
  color: gray;
}

.wrapper__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px 0;
}

.wrapper__paragrap--inner {
  margin: 10px;
  line-height: 20px;
  color: gray;
}

.wrapper__paragrap--inner span {
  color: black;
  font-weight: bolder;
}

.project__wrapper-link {
  display: block;
  padding: 10px 0;
  text-decoration: none;
  text-transform: uppercase;
  color: #7cc576;
  font-weight: 900;
}

.project__wrapper-paragrap {
  color: gray;
}

.values {
  margin: 0 auto;
  padding: 30px 8%;
  background-color: #fafafa;
  text-align: center;
}

.values__h2 {
  font-size: 30px;
  text-transform: uppercase;
  margin: 20px 0;
}

.values__paragrap {
  color: gray;
}

.container {
  margin: 30px 0;
}

.container__img {
  margin-bottom: 20px;
}

.container__h3 {
  text-transform: uppercase;
  margin-bottom: 10px;
}

.container__paragrap {
  color: gray;
}

.container__line {
  display: block;
  width: 3px;
  height: 80px;
  margin: 0 auto;
  background-color: gray;
}

.clients {
  margin: 0 auto;
  padding: 30px 8%;
  text-align: center;
}

.clients__h2 {
  font-size: 30px;
  text-transform: uppercase;
  margin: 20px 0;
}

.clients__paragrap {
  color: gray;
  margin: 20px 0;
}

.clients__image-container {
  width: 200px;
  height: 200px;
  background-image: url("../img/rydzyk.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  background-position: center;
  margin: 10px auto;
}

.clients__image-container--2 {
  background-image: url("../img/2pac.png");
}

.container__wrapper {
  background-color: #f0f0f0;
  padding: 20px 10px;
  border-radius: 5px;
  position: relative;
  margin: 25px 0;
}

.container__wrapper::after {
  position: absolute;
  content: "";
  top: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid #f0f0f0;
}

.container__span {
  display: block;
  margin: 10px 0;
  color: #7cc576;
}

.ready {
  text-align: center;
  margin: 0 auto;
  padding: 30px 8%;
  background-color: #7cc576;
}

.ready__h2 {
  font-size: 30px;
  text-transform: uppercase;
  margin: 20px 0;
  color: white;
}

.ready__btn {
  color: white;
  background-color: transparent;
  padding: 10px 30px;
  font-size: 20px;
  text-transform: uppercase;
  border: 2px solid white;
  border-radius: 10px;
}

.company {
  margin: 0 auto;
  padding: 30px 8%;
}

.company__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.company__img {
  margin: 20px;
}

.contact {
  margin: 0 auto;
  padding: 30px 8%;
  background-color: black;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__items {
  margin: 20px 0;
}

.contact__items-h3 {
  text-transform: uppercase;
  margin-bottom: 10px;
}

.contact__items-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 20px;
}

.contact__items-paragrap {
  margin-left: 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.contact__items-ico--large {
  margin-right: 9px;
}

.contact__items-paragrap--author {
  margin: 5px 20px;
  font-weight: 900;
}

.contact__items-paragrap--time {
  font-size: 14px;
}

.footer {
  margin: 0 auto;
  padding: 30px 8%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 20px;
}
/*# sourceMappingURL=style.css.map */