.clients {
    @include container;
    text-align: center;

    &__h2 {
        @include headings2;
    }

    &__paragrap {
        color: gray;
        margin: 20px 0;
    }


    &__image-container {
        width: 200px;
        height: 200px;
        background-image: url('../img/rydzyk.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
        background-position: center;
        margin: 10px auto;
    }

    &__image-container--2 {
        background-image: url('../img/2pac.png');

    }

}

.container__wrapper {
    background-color: rgb(240, 240, 240);
    padding: 20px 10px;
    border-radius: 5px;
    position: relative;
    margin: 25px 0;
}

.container__wrapper::after {
    position: absolute;
    content: "";
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid rgb(240, 240, 240);
}

.container__span {
    display: block;
    margin: 10px 0;
    color: $green;
}

@media(min-width:1024px) {
    .client_person {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;

    }

    .container__wrapper {
        width: 500px;
        height: 120px;
        margin: 0 30px;
    }

    .clients__image-container {
        flex: 0 0 auto;
        margin: 0;
    }

    .client_person--second {
        flex-direction: row-reverse;
    }

    .container__wrapper::after {
        top: 50%;
        left: -20px;
        transform: translateY(-50%) rotate(-90deg);
    }

    .container__wrapper--2pac::after {
        // background-color: aquamarine;
        top: 50%;
        left: calc(100% - 10px);
        transform: translateY(-50%) rotate(90deg);
    }
}