.contact {
    @include container;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;

    &__items {
        margin: 20px 0;
    }

    &__items-h3 {
        text-transform: uppercase;
        margin-bottom: 10px;
    }


    &__items-div {
        display: flex;
        align-items: flex-start;
        margin: 20px;
    }

    &__items-paragrap {
        margin-left: 20px;
        align-self: center;
    }

    &__items-ico--large {
        margin-right: 9px;
    }

    &__items-paragrap--author {
        margin: 5px 20px;
        font-weight: 900;
    }

    &__items-paragrap--time {
        font-size: 14px
    }
}

@media(min-width:1024px) {
    .contact {
        flex-direction: row;
        justify-content: space-between;

        &__items {
            width: 33%;
        }
    }

    .contact__items-paragrap--tweet:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}