.footer {
    @include container;
    flex-direction: column;
    display: flex;

    &__image-wrapper {
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;
    }

}