.footer {
    @include container;
    flex-direction: column;
    display: flex;
    align-items: center;

    &__image-wrapper {
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;
        align-self: stretch;
    }
}

@media(min-width:1024px) {
    .footer {
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: center;

        &__image-wrapper {
            margin: 0 180px;
        }

        &__ico {
            margin: 0 10px;
            transition: transform 0.3s;
            cursor: pointer;
        }

        &__ico:hover {
            transform: scale(1.3);
        }
    }
}