.project {
    @include container;

    &__h2 {
        @include headings2;

    }

    &__paragrap {
        color: gray;
        margin-bottom: 30px;
    }
}

.wrapper__h3 {
    font-size: 25px;
    margin: 10px 0;

}

.wrapper__paragrap {
    margin: 10px 0;
    color: gray;
}

.wrapper__div {
    display: flex;
    align-items: center;
    margin: 15px 0;
}

.wrapper__paragrap--inner {
    margin: 10px;
    line-height: 20px;
    color: gray;
}

.wrapper__paragrap--inner span {
    color: black;
    font-weight: bolder;
}

.project__wrapper-link {
    display: block;
    padding: 10px 0;
    text-decoration: none;
    text-transform: uppercase;
    color: $green;
    font-weight: 900;
}

.project__wrapper-paragrap {
    color: gray;
}

@media (min-width:768px) {
    .project {
        text-align: center;
    }

    .wrapper__div {
        justify-content: center;
        margin: 20px;
    }
}

@media(min-width:1024px) {
    .project {
        background: url('../img/ipad.png');
        background-repeat: no-repeat;
        background-size: 70%;
        background-position: 600px 200px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: center;

        &__h2 {
            align-self: center;
        }

        &__paragrap {
            align-self: center;
        }

        &__wrapper {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            text-align: center;
            width: 400px;
        }

    }

    .wrapper__paragrap {
        text-align: left;
    }

    .wrapper__div {
        margin: 10px;
        margin-left: 0;
    }

    .wrapper__paragrap--inner {
        text-align: left;
    }
}