.ready {
    text-align: center;
    @include container;
    background-color: $green;

    &__h2 {
        @include headings2;
        color: white;
    }

    &__btn {
        color: white;
        background-color: transparent;
        padding: 10px 30px;
        font-size: 20px;
        text-transform: uppercase;
        border: 2px solid white;
        border-radius: 10px;
        transition: transform .5s;
    }
}

@media(min-width:1024px) {

    .ready__btn:hover {
        color: green;
        background-color: white;
        transform: scale(1.1);
        cursor: pointer;
    }
}