.relax {
    padding: 20px 30px;
    height: 80vh;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url('../img/cliff.png') no-repeat;
    background-position: center;
    background-size: cover;
    color: white;

    &__gear {
        display: none;
        background-color: gray;
    }
}

.just-relax {
    &__h2 {
        @include headings2
    }
}