.relax {
    padding: 20px 30px;
    // height: 80vh;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url('../img/cliff.png') no-repeat;
    background-position: center;
    background-size: cover;
    color: white;

    &__gear {
        display: none;
        background-color: gray;
    }


}

.just-relax {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    &__h2 {
        @include headings2;


    }

    &__span {
        color: $green;
    }

    &__paragraf {
        margin: 20px 0;
    }

    &__list {
        list-style: none;
    }

    &__list-item {
        margin: 10px 0;
        font-size: 20px;
    }

    &__button {
        @include grennBtn;
    }
}